name: CI
on:
  pull_request:
    branches: [ master ]
jobs:
  # Runs all steps on the VM
  # The service containers will use host port binding instead of container networking so you access them via localhost rather than the service name
  vm-job:
    runs-on: ubuntu-18.04
    container:
      image: kirschbaumdevelopment/laravel-test-runner:7.3
    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install composer dependencies
      working-directory: ./backend
      run: |
            composer install --no-scripts
      
    - name: Run PHPUnit tests 
      working-directory: ./backend
      env:
        DB_CONNECTION: pgsql
        DB_HOST: postgres
        DB_PORT: 5432
        DB_DATABASE: test
        DB_USERNAME: postgres
        DB_PASSWORD: postgres
      run: vendor/bin/phpunit --no-coverage      
