name: CI
on:
  pull_request:
    branches: [ master ]
jobs:
  # Runs all steps on the VM
  # The service containers will use host port binding instead of container networking so you access them via localhost rather than the service name
  vm-job:
    runs-on: ubuntu-18.04
    container:
      image: lorisleiva/laravel-docker:7.4
    services:
      postgres:
        image: mdillon/postgis:10
        env:
          POSTGRES_DB: postgresdb
          POSTGRES_USER: postgresuser
          POSTGRES_PASSWORD: secret
          POSTGRES_HOST: postgres
        ports:
        - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    
    steps:
    - uses: actions/checkout@v2
    - name: Install composer dependencies
      working-directory: ./backend
      run: |
            composer install

    - name: Run PHPUnit tests 
      env:
        APP_ENV: local
        DB_HOST: postgres
        DB_PORT: 5432
        DB_DATABASE: postgresdb
        DB_USERNAME: postgresuser
        DB_PASSWORD: secret
      run: vendor/bin/phpunit --no-coverage
      working-directory: ./backend
      
