name: CI
on:
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    container:
      image: edbizarro/gitlab-ci-pipeline-php:7.3
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: homestead
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: homestead
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    env: 
      working-directory: ./backend
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install composer dependencies
      run: |
        composer install --no-scripts
      working-directory: ${{env.working-directory}}

    - name: Prepare Laravel Application
      env:
        DB_HOST: postgres
      run: |
        cp .env-example .env
        php artisan key:generate
      working-directory: ${{env.working-directory}}

    - name: Run Testsuite
      run: vendor/bin/phpunit tests/
      working-directory: ${{env.working-directory}}
