name: CI
on:
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-16.04
    container:
        image: kirschbaumdevelopment/laravel-test-runner:7.3
    services:
      postgres:
        image: postgres:9.5-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Install composer dependencies
      working-directory: ./backend
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Run PHPUnit tests 
      working-directory: ./backend
      env:
        DB_CONNECTION: pgsql
        DB_HOST: postgres
        DB_PORT: 5432
        DB_DATABASE: test
        DB_USERNAME: postgres
        DB_PASSWORD: postgres
      run: vendor/bin/phpunit --no-coverage      
